################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/AccDataAccessLayer/AccDataAccessLayer/bin/x86/Debug
/Source/AccDataAccessLayer/AccDataAccessLayer/obj
/Source/Apskaita5/.vs/Apskaita5
/Source/Apskaita5/AccCommon/bin/x86/Debug
/Source/Apskaita5/AccCommon/obj
/Source/Apskaita5/AccControlsWinForms/bin/x86/Debug
/Source/Apskaita5/AccControlsWinForms/obj
/Source/Apskaita5/AccDataBindingsWinForms/bin/x86/Debug
/Source/Apskaita5/AccDataBindingsWinForms/obj
/Source/Apskaita5/AccDataProvider/bin/x86/Debug
/Source/Apskaita5/AccDataProvider/obj/x86/Debug
/Source/Apskaita5/AccIPlugin/bin/x86/Debug
/Source/Apskaita5/AccIPlugin/obj/x86/Debug
/Source/Apskaita5/AccMigration/bin/x86/Debug
/Source/Apskaita5/AccMigration/obj
/Source/Apskaita5/AccWebService/obj/Debug
/Source/Apskaita5/Apskaita3/Apskaita/bin/x86/Debug
/Source/Apskaita5/Apskaita3/Apskaita/obj
/Source/Apskaita5/Apskaita5/bin/x86/Debug
/Source/Apskaita5/Apskaita5/obj
/Source/Apskaita5/ApskaitaRemotingServer/bin/Debug
/Source/Apskaita5/ApskaitaRemotingServer/obj/Debug
/Source/Apskaita5/packages
/Source/Apskaita5/PluginManager/bin/x86/Debug
/Source/Apskaita5/PluginManager/obj/x86/Debug
/Source/InvoiceInfo/InvoiceInfo/bin/Debug
/Source/InvoiceInfo/InvoiceInfo/obj/Debug
/Source/InvoiceInfo/InvoiceInfo/InvoiceInfo.vbproj.user
/Source/Apskaita5/PluginManager/obj/x64/Debug
/Source/Apskaita5/AccWebService/bin
/Source/Apskaita5/Backup
